<!DOCTYPE html>
<html>

<head>
    <title>مرغداری</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>

<body>

    <section class="section">
        <div class="columns">

            <div class="column">

                <h2 class="title">Cargo and Drivers</h2>

                <div class="box">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Driver Name</th>
                                <th>Quantity</th>
                                <th>Losses</th>
                                <th>Cargo Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cargo in cargo_data %}
                            <tr>
                                <td>{{ cargo.driver_name }}</td>
                                <td>{{ cargo.quantity }}</td>
                                <td>{{ cargo.losses }}</td>
                                <td>{{ cargo.get_cargo_type_display }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="box">
                    <div class="field has-addons">
                        <form method="get">
                            <div class="control">
                                <input class="input" type="text" name="driver_name" placeholder="Enter Cargo name">
                            </div>
                            <div class="control">
                                <button class="button is-primary" type="submit">
                                    Search Name
                                </button>
                            </div>
                        </form>
                    </div>
                    <hr>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Cargo Name</th>
                                <th>License Plate Number</th>
                                <th>Capacity</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for driver in driver_data %}
                            <tr>
                                <td>{{ driver.name }}</td>
                                <td>{{ driver.license_plate_number }}</td>
                                <td>{{ driver.capacity }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>

            <div class="column">

                <h2 class="title">Chicken Cos and Farmers</h2>

                <div class="box">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Phone Number</th>
                                <th>City</th>
                                <th>Cargo Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for chicken_co in chicken_co_data %}
                            <tr>
                                <td>{{ chicken_co.name }}</td>
                                <td>{{ chicken_co.phone_number }}</td>
                                <td>{{ chicken_co.city }}</td>
                                <td>{{ chicken_co.get_cargo_type_display }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="box">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Phone Number</th>
                                <th>City</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for poultry_farmer in poultry_farmers_data %}
                            <tr>
                                <td>{{ poultry_farmer.name }}</td>
                                <td>{{ poultry_farmer.phone_number }}</td>
                                <td>{{ poultry_farmer.city }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>

        </div>
    </section>

</body>

</html>